APP_VERSION=local

POSTGRES_DB=rus_map
POSTGRES_USER=rus_map
POSTGRES_PASSWORD=replace_with_a_long_random_password

BACKEND_LOOPBACK_PORT=18000
FRONTEND_LOOPBACK_PORT=18080

ADMIN_COOKIE_SECURE=true
ADMIN_COOKIE_PATH=/rus-map
GEOCODING_SEARCH_URL=https://nominatim.openstreetmap.org/search
GEOCODING_USER_AGENT=RusMap/0.1 (https://vm-1703.lnvps.cloud/rus-map/)
